:root {
  --primary-color: #221f3b;
  --second-color: #6f4a8e;
  --thirty-color: #f6f6f6;
  --title-color: #fddb3a;
  --muted-color: #a5a5a5;
  --items-featuring: #081c22;
  --dark-color: #333;
  --light-color: #fff;
  --success-color: #1da060;
  --warning-color: #c8cb2e;
  --bad-color: #db2360;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--thirty-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: var(--light-color);
}

a {
  text-decoration: none;
  transition: all ease .3s;
}

input {
  min-height: 36px;
  width: 100%;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  padding: .5rem;
  font-size: .9rem;
  outline: none;
  color: var(--muted-color);
}

button {
  border: 0;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: .5rem 1rem;
}

img {
  animation: 1s blurAnimation ease;
}

.wrapper {
  position: relative;
  padding: 1rem;
}

/* SIDEBARS */
.sidebar__left, .sidebar__rigth {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  bottom: 66px;
  z-index: 1;
  overflow: auto;
  transition: all .3s ease-in;
}

.sidebar__left {
  right: 100%;
}

.sidebar__rigth {
  left: 100%;
  right: 0;
}

.sidebar__left.show {
  left: 0;
  right: 15%;
}

.sidebar__rigth.show {
  right: 0;
  left: 15%;
}

.sidebar__left--title {
  font-size: 30px;
  color: var(--light-color);
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 4rem;
}

.sidebar__left--title span {
  color: var(--title-color);
}

@media screen and (min-width: 1024px) {
  .sidebar__left, .sidebar__rigth {
    display: block;
    background-color: var(--primary-color);
    top: 0;
    bottom: 0;
  }
  .sidebar__left {
    right: 80%;
    left: 0;
  }
  .sidebar__rigth {
    left: 80%;
    right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .sidebar__left {
    right: 85%;
  }

  .sidebar__rigth {
    left: 85%;
  }
}

/* NAV */
.nav__item {
  margin-bottom: 1rem;
  list-style: none;
}

.nav__item a {
  padding: .5rem;
  display: flex;
  align-items: center;
  color: var(--muted-color);
}

.nav__item.selected a {
  background-color: rgba(255,255,255,.2);
  border-left: 3px solid var(--light-color);
  color: var(--light-color);
}

.nav__item.selected a:hover {
  background-color: rgba(255,255,255,.4);
}

.nav__item img {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

/* PLAYLIST */
.playList__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.playList__info {
  display: flex;
  align-items: center;
}

.playList__info > img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

.playList__deleted img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

/* USER */
.user {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.user__image {
  position: relative;
  margin-right: .5rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: var(--light-color);
  border-radius: 5px;
}

.user__image::after {
  content: '\025cf';
  color: #ddd;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  background:var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  padding: .2rem 0 .1rem .3rem;
  border-top-left-radius: 12px;
}

.user.connected .user__image::after {
  color: var(--success-color);
}

.user__image img {
  width: 40px;
}

.user__info {
  line-height: 1;
}

.user__name {
  display: block;
  margin-bottom: .1rem;
  color: var(--light-color);
  font-size: 14px;
  font-weight: 600;
}

.user__social {
  color: var(--muted-color);
  font-size: 12px;
}

.user__list--title {
  color: var(--muted-color);
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.users__list {
  color: var(--light-color);
}

.users__list .user {
  margin-bottom: 1rem;
}

.users__list .user__image {
  width: 40px;
  height: 40px;
}

.users__list .user__image img {
  width: 35px;
  height: 35px;
}

/* MAIN */
.content {
  background-color: var(--second-color);
}

.content__background {
  position: absolute;
  height: 50%;
  width: 100%;
  overflow: hidden;
}

.content__background::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, var(--second-color));
}

.content__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(82, 87, 93, .4);
}

@media screen and (min-width: 1024px) {
  .content {
    position: absolute;
    top: 0;
    left: 20%;
    right: 20%;
    min-height: 100vh;
  }
  .content__background {
    height: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    left: 15%;
    right: 15%;
  }
}

/* SEARCH */

.search {
  position: relative;
  margin-bottom: 2rem;
}

.form__search {
  position: relative;
  display: flex;
  background: var(--light-color);
  padding: 0 .5rem;
  border-radius: 20px;
  max-width: 300px;
  overflow: hidden;
  margin-bottom: .5rem;
}

.form__search form {
  width: 100%;
}

.form__search img {
  width: 15px;
}

.search__results {
  display: none;
}

.search__results.active {
  display: block;
  width: 100%;
  max-width: 300px;
  background: var(--light-color);
  border-radius: 3px;
  position: absolute;
  z-index: 2;
}

.search__results li {
  list-style: none;
  padding: .5rem;
  border-bottom: 1px solid var(--muted-color);
  cursor: pointer;
  font-size: 13px;
}

.search__results li:last-child {
  border-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .search {
    margin-bottom: 4rem;
  }
  .search__results.active {
    min-width: 300px;
  }
}

/* FEATURING MOVIE */
.featuring {
  min-height: 600px;
}

.featuring__title {
  margin-bottom: 1rem;
  font-size: 22px;
}

.featuring__movie {
  margin-bottom: 2rem;
}

.featuring__image {
  width: 35%;
  flex-shrink: 0;
  margin-right: 2rem;
}

.featuring__image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.featuring__movie--title {
  font-size: 20px;
  margin-bottom: .5rem;
}

.featuring__movie--title span {
  color: var(--muted-color);
}

.featuring__description {
  font-size: 14px;
  color: var(--thirty-color);
  margin-bottom: 1rem;
}

.featuring__extra {
  display: flex;
  align-items: center;
  width: 60%;
  margin-bottom: 1rem;
}

.featuring__extra > div {
  margin-right: 1rem;
}

.featuring__extra span:first-child {
  font-weight: bold;
  margin-right: .5rem;
  color: var(--light-color);
}

.featuring__extra--link a {
  padding: .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--items-featuring);
  border-radius: 50%;
  cursor: pointer;
}

.featuring__extra--link img {
  width: 15px;
}

.featuring__rating {
  display: flex;
}

.featuring__rating--number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: var(--items-featuring);
  border: 3px solid var(--second-color);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  color: var(--light-color);
  font-size: 18px;
  font-weight: bold;
}

.featuring__rating--number.success {
  border-color: var(--success-color);
}

.featuring__rating--number.warning {
  border-color: var(--warning-color);
}

.featuring__rating--number.bad {
  border-color: var(--bad-color);
}

.featuring__rating--number::before {
  content: '';
  border: 5px solid rgba(8, 28, 34, .7);
  border-radius: 50%;
  position: absolute;
}

.featuring__rating--number::before {
  width: 50px;
  height: 50px;
}

.featuring__summary {
  margin-bottom: 2rem;
  font-size: 14px;
  color: var(--light-color);
}

.featuring__time::before {
  content: '\025cf';
  margin-right: .5rem;
}

.featuring__genres span {
  margin-right: .3rem;
}

@media screen and (min-width: 1024px) {
  .featuring {
    min-height: 500px;
  }
  .featuring__movie--title {
    font-size: 30px;
    margin-bottom: 0;
  }
  .featuring__movie {
    display: flex;
  }
  .featuring__image {
    width: 20%;
    flex-shrink: 0;
    margin-right: 2rem;
  }
  .featuring__description {
    font-size: 17px;
    margin-bottom: 2rem;
  }
  .featuring__rating--number {
    width: 60px;
    height: 60px;
  }
  .featuring__rating--number::before {
    width: 60px;
    height: 60px;
  }
  .featuring__extra--link a {
    padding: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .featuring__description {
    width: 60%;
  }
}

/* MOVIES LIST */
.movies__list--list {
  text-align: center;
  padding: 1rem 0;
}

.movies__list--list.movies {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--second-color);
}

.movies__list--list.movies::-webkit-scrollbar-track {
  background: var(--primary-color);
}

.movies__list--item {
  margin-right: .5rem;
  width: 40%;
  flex-shrink: 0;
  cursor: pointer;
}

.movies__list--item.selected img {
  border: 5px solid var(--primary-color);
}

.movies__list--item.selected .movies__list--image::before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: -3%;
  background: var(--primary-color);
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-radius: 3px;
}

.movies__list--title, .movies__list--item-title {
  color: var(--light-color);
}

.movies__list--image {
  position: relative;
}

.movies__list--image img {
  width: 100%;
  border-radius: .5rem;
  position: relative;
}

.movies__list--date {
  color: var(--muted-color);
  font-size: 12px;
}

.movies__list--summary {
  position: absolute;
  bottom: 0%;
  top: 50%;
  background: rgba(0,0,0,.5);
  padding: .5rem;
  font-size: 13px;
  color: #f5f5f5;
  line-height: 1.3;
}

/* MODAL */
.overlay {
  display: none;
}

.overlay.active {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}

.modal {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  background: var(--light-color);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 700px;
  margin: 0 auto;
  transform: translateY(-3000px);
  padding: 1rem;
  border-radius: .5rem;
}

.modal::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255,255, 255, .5);
}

.modal-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-content img {
  margin-bottom: 1rem;
  border-radius: .5rem;
  width: 40%;
}

.modal h1, .modal-content, .modal-buttons {
  position: relative;
}

.modal-content h1 {
  margin-bottom: 1rem;
  font-size: 20px;
}

.modal-content p {
  font-size: 13px;
  margin-bottom: 2rem;
}

.modal-content-info > div {
  margin-bottom: 2rem;
}

.modal-buttons {
  text-align: center;
  padding: 1rem 0 0;
}

.modal-buttons button {
  cursor: pointer;
}

.rating__number {
  padding: .5rem;
  border: 3px solid;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* NAVBAR MOBILE */
.navbar__mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--primary-color);
  z-index: 2;
}

.navbar__mobile ul {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  list-style: none;
  color: var(--light-color);
}

.navbar__mobile li {
  text-align: center;
}

.navbar__mobile li.active::after {
  content: '';
  width: 5px;
  height: 5px;
  display: block;
  background-color: var(--light-color);
  border-radius: 50%;
  margin: auto;
  transition: all ease .3s;
}

.navbar__mobile img {
  width: 25px;
  height: 25px;
}

/* REPONSIVE MOBILE FIRS */

@media screen and (min-width: 768px) {
  .movies__list--item {
    width: 20%;
  }
  .modal {
    padding: 2rem;
  }
  .modal-content-container {
    flex-wrap: nowrap;
  }
  .modal-content img {
    margin-right: 1rem;
    margin-bottom: 0;
  }
  .navbar__mobile {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  /* .wrapper {
    max-width: 1300px;
    margin: 0 auto;
  } */
  .movies__list--item {
    margin-right: 1rem;
    width: 15%;
  }
  .modal-content p {
    font-size: 15px;
  }
  .navbar__mobile {
    display: none;
  }
}

/* ANIMATIONS */

/* animationIn {*/
@keyframes modalIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-50%);
  }
}

/* animationOut {*/
@keyframes modalOut {
  0% {
    transform: translateY(-50%);
  }
  60% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-3000px);
  }
}

/* animation blur */
@keyframes blurAnimation {
  from {
    filter: blur(5px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}
